
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none !important;
}

body {
  background-color: white;
}

ul {
  list-style: none;
}

.coinlist-image {
  width: 50px;
}

.coinlist-item {
  display: flex;
}

.coinsummary {
  border-color: rebeccapurple !important;
  border-style: outset !important;
  background-color: olivedrab ;
}

.coin-data-category {
  font-size: 10px;
}

.delete-icon {
  display: none;
  position: absolute;
  right: 6px;
}

.coin:hover .delete-icon {
  display: block;
}
