* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none !important;
}

body {
  background-color: black;
}

ul {
  list-style: none;
}

.coinList-image {
  width: 50px;
}

.coinList-item {
  display: flex;
}

.coinsummary {
  border-color: rebeccapurple !important;
  border-style: outset !important;
  background-color: lightblue;
  border-radius: 50%;
}

.coin-data-category {
  font-size: 10px;
}

.delete-icon {
  display: none;
  position: absolute;
  right: 6px;
}

.coin:hover .delete-icon {
  display: block;
}
.particles_canvas {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: -1;
}

.typed_text {
  color: aliceblue;
}